/ {
	aliases {
		accel0 = &accel_dev;
		gyro0  = &gyro_dev;
	};
};

&i2c0 {
	status = "okay";
	accel_dev: adxl345@53 {
		compatible = "adi,adxl345";
		reg = <0x53>;
	};
	gyro_dev: fxas21002@20 {
		compatible = "nxp,fxas21002";
		reg = <0x20>;
	};
};
